.covidalert{
	position: absolute;
	width: 100%;
	height: 21%;
	background-color: #6CB48C;
}
.header{
	position: absolute;
	top: 20%;
	width: 100%;
	height: 25%;
}
.logo{
	width: 200px;
	position: absolute;
	left: 40px;
	top: 40px;
}
.coviddata{
	font-family: cursive;
	font-size: 20px;
}
.linkcovid{
	position: absolute;
	left: 40px;
	text-decoration: none;
	font-size: 15px;
	font-family: serif;
	color: inherit;
}